# Ignore Obsidian configuration files
project-obsidianspace/.obsidian/

# Ignore project-artifactspace build and IDE files
project-artifactspace/.settings/
project-artifactspace/Debug/
project-artifactspace/Startup/
project-artifactspace/.cproject
project-artifactspace/.project
project-artifactspace/STM32F103C8TX_FLASH.ld

# Ignore project-halartifactspace build and IDE files
project-halartifactspace/Drivers/
project-halartifactspace/EWARM/
project-halartifactspace/.mxproject
project-halartifactspace/.project
project-halartifactspace/project-halartifactspace.ioc