project-obsidianspace/.obsidian/app.json
project-obsidianspace/.obsidian/appearance.json
project-obsidianspace/.obsidian/community-plugins.json
project-obsidianspace/OBSIDIAN-README.md
project-obsidianspace/.obsidian/core-plugins.json
project-obsidianspace/.obsidian/workspace.json
project-obsidianspace/.obsidian/plugins/obsidian-excalidraw-plugin/data.json
project-obsidianspace/.obsidian/plugins/obsidian-excalidraw-plugin/main.js
project-obsidianspace/.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
project-obsidianspace/.obsidian/plugins/obsidian-excalidraw-plugin/styles.css
project-obsidianspace/.obsidian/plugins/obsidian-local-file-interface-plugin/main.js
project-obsidianspace/.obsidian/plugins/obsidian-local-file-interface-plugin/manifest.json
project-obsidianspace/.obsidian/themes/Tokyo Night/manifest.json
project-obsidianspace/.obsidian/themes/Tokyo Night/theme.css
project-obsidianspace/notes/to-do.md
project-obsidianspace/references/mastering-stm32-book.pdf
project-obsidianspace/references/pm0056-stm32-f10-f20-f21-l1-cortex-m3-programming-manual.pdf
project-obsidianspace/notes/rcc-note.md
project-obsidianspace/references/production-stm32-f103x8-f103xb-datasheet.pdf
project-obsidianspace/references/rm0008-stm32-f101-f102-f103-f105-f107-reference-manual.pdf
